body, html {
  background-color: #eeeff3;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

header {
  background-color: #fafbff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0px 2%;
  width: 96%;
  height: 86px;
  position: fixed;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  /* border-radius: 0px 0px 20px 20px; */
}

main {
  display: flex;
}

form {
  background-color: #fafbff;
  width: 25%;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: 86px;
  /* position: fixed; */
}

label {
  font-weight: 600;
}

input,
select {
  height: 36px;
  width: 300px;
  font-family: 'Nunito Sans', sans-serif;
  padding: 0;
}

select {
  width: 304px;
}

article {
  background-color: #fff;
  width: 400px;
}

button {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  background-color: #326BFF;
  color: #fff;
  border: 0;
  width: 140px;
  height: 36px;
  font-size: 18px;
  border-radius: 20px;
}

.text-blue {
  color: #326BFF;
}

.form-content-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 300px;
  /* border: 1px dashed blue; */
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  margin-bottom: 20px;
  /* border: 1px solid pink; */
}

.submit-button {
  width: 300px;
}

.traveler-details {
  display: flex;
  flex-direction: column;
  width: 75%;
  overflow: scroll;
  margin-top: 86px;
}

.upcoming-and-pending {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid yellow; */
}

.past-trips-container {
  /* border: 1px dashed black; */
  width: 100%;
}

.past-trips {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.column-left,
.column-right {
  width: 400px;
  /* border: 1px solid yellow; */
}

.trip-card {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  border-radius: 15px;
  padding: 5px;
}

.destination-image {
  width: 380px;
  height: 252px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
}

.trip-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.trip-details > * {
  margin: 5px 10px;
}

.location-name {
  font-size: 24px;
}

.card-text-secondary {
  color: #717682;
}

.past-trip-line-1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0px 10px;
}

.past-trip-line-1 > *,
.past-trip-line-2 > * {
  margin: 5px 0px;
}

.dot-divider {
  margin: 0px 5px;
}

.expenses {
  font-weight: 600;
  font-size: 24px;
}

.error-msg-or-estimated-cost {
  height: 40px;
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.error-msg-or-estimated-cost > p {
  margin: 0px;
}

.error-message {
  color: red;
}

.trip-estimated-cost {
  color: #717682;
  font-style: italic;
}

.past-trips-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.past-trip-card {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  margin: 15px;
  /* border: 1px solid pink; */
  border-radius: 15px;
  padding: 5px;
}

.past-destination-image {
  height: 125px;
  width: 150px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
}

.past-trip-details {
  margin: 5px 10px;
}

.past-trip-details > * {
  margin: 5px 0px;
}

.past-location-name {
  font-size: 20px;
}

.success-message {
  font-style: italic;
  animation: 1.2s ease fade;
  animation-delay: 1.0s;
}

.hidden {
  display: none;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
