body, html {
  background-color: #eeeff3;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

header {
  background-color: #fafbff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0px 2%;
  width: 96%;
  height: 86px;
  position: fixed;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
}

form {
  background-color: #fafbff;
  width: 25%;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: 86px;
}

label {
  font-size: 18px;
  font-weight: 600;
}

input,
select {
  height: 36px;
  width: 300px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  padding: 0;
}

select {
  height: 40px;
  width: 304px;
}

article {
  background-color: #fff;
  width: 400px;
}

button {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  background-color: #316bff;
  color: #fff;
  border: 0;
  width: 300px;
  height: 36px;
  font-size: 18px;
  border-radius: 20px;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: #1549cf;
}

/* Form Styles */

.form-content-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 300px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  margin-bottom: 20px;
}

.hidden-message-container {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.hidden-message-container > p {
  margin: 0px;
}

.trip-estimated-cost {
  color: #717682;
  font-style: italic;
}

.success-message {
  font-style: italic;
  animation: 1.2s ease fade;
  animation-delay: 1.0s;
}

/* Trips Container & Card Styles */

.all-trips-section {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 86px;
}

.trips-container {
  display: flex;
  justify-content: space-evenly;
}

.trip-column {
  width: 400px;
  margin-top: 30px;
}

.trip-card {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  border-radius: 15px;
  padding: 5px;
}

.destination-image {
  width: 380px;
  height: 252px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
}

.trip-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.trip-details > * {
  margin: 5px 10px;
}

.trip-details > p {
  font-size: 20px;
}

.location-name {
  font-size: 24px;
}

.card-text-secondary {
  color: #717682;
}

.past-trips {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.past-trips-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.past-trip-card {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  margin: 15px;
  border-radius: 15px;
  padding: 5px;
}

.past-destination-image {
  height: 125px;
  width: 150px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
}

.past-trip-details {
  margin: 5px 10px;
}

.past-trip-details > * {
  margin: 5px 0px;
}

.past-location-name {
  font-size: 20px;
}

/* Miscellaneous Styles */

.expenses {
  font-size: 24px;
}

.text-blue {
  color: #316bff;
}

.dot-divider {
  margin: 0px 5px;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

/* Animations */

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Media Queries */

@media screen and (max-width: 1312px) {
  .trips-container {
    flex-direction: column;
    align-items: center;
  }
  article {
    width: 600px;
  }
  .trip-column {
    width: 600px;
  }
  .destination-image {
    width: 580px;
    height: 360px;
  }
  .past-destination-image {
    width: 200px;
  }
}

@media screen and (max-width: 1024px) {
  article {
    width: 400px;
  }
  .trip-column {
    width: 400px;
  }
  .destination-image {
    width: 380px;
    height: 252px;
  }
}

@media screen and (max-width: 860px) {
  main {
    flex-direction: column;
  }
  form {
    width: 100%;
    height: 680px;
  }
  .all-trips-section {
    width: 100%;
  }
  .travel-expenses {
    display: none;
  }
  .upcoming-trips-column {
    margin-top: 0px;
  }
  article {
    width: 600px;
  }
  .trip-column {
    width: 600px;
  }
  .destination-image {
    width: 580px;
    height: 360px;
  }
}

@media screen and (max-width: 710px) {
  article {
    width: 400px;
  }
  .trip-column {
    width: 400px;
  }
  .destination-image {
    width: 380px;
    height: 252px;
  }
}
